i[class^=icon] {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.svg_calss {
    margin-right: 8px;
    width: 1em;
    height: 1em;
    fill: currentColor;
}
/* svg 图标尺寸 */
.aside_svg {
    margin-bottom: -4px;
    font-size: 20px;
}
/* png 图标尺寸 */
.icon_size_21{
    width: 21px;
    height: 21px;
}
.icon_size_30{
    width: 30px;
    height: 30px;
}


/* 偏移 */
.mb_-5{
    margin-bottom: -5px;
}

/* 图标 */
.icon_aside_home{
    background-image: url("~@/assets/icon/home.png");
}
.icon_aside_console{
    background-image: url("~@/assets/icon/console.png");
}
.icon_aside_informtion{
    background-image: url("~@/assets/icon/informtion.png");
}
.icon_aside_product{
    background-image: url("~@/assets/icon/product.png");
}
.icon_aside_user{
    background-image: url("~@/assets/icon/user.png");
}

